In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("COVID-19 Activity.csv")

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,Clarke,Alabama,2020-01-22,America,New York Times,0,1025.0,USA,United States,US,0,0
1,0,Clarke,Alabama,2020-01-23,America,New York Times,0,1025.0,USA,United States,US,0,0
2,0,Clarke,Alabama,2020-01-24,America,New York Times,0,1025.0,USA,United States,US,0,0
3,0,Clarke,Alabama,2020-01-25,America,New York Times,0,1025.0,USA,United States,US,0,0
4,0,Clarke,Alabama,2020-01-26,America,New York Times,0,1025.0,USA,United States,US,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2578747,0,NaN,Henan,2020-01-21,Asia,JHU CSSE Global Timeseries,0,NaN,CHN,China,CN,0,0
2578748,0,NaN,NaN,2020-01-21,Africa,JHU CSSE Global Timeseries,0,NaN,COG,Congo (Brazzaville),CG,0,0
2578749,0,NaN,NaN,2020-01-21,America,JHU CSSE Global Timeseries,0,NaN,PER,Peru,PE,0,0
2578750,0,NaN,NaN,2020-01-21,America,JHU CSSE Global Timeseries,0,NaN,CHL,Chile,CL,0,0
2578751,0,NaN,NaN,2020-01-21,Europe,JHU CSSE Global Timeseries,0,NaN,ESP,Spain,ES,0,0

In [5]:
df.shape

(2578752, 13)

In [10]:
#drop
df.drop(['COUNTRY_ALPHA_3_CODE','COUNTRY_ALPHA_2_CODE','COUNTY_FIPS_NUMBER'],axis=1,inplace=True)
df
#plot
#geographic spread with time

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTRY_SHORT_NAME,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,Clarke,Alabama,2020-01-22,America,New York Times,0,United States,0,0
1,0,Clarke,Alabama,2020-01-23,America,New York Times,0,United States,0,0
2,0,Clarke,Alabama,2020-01-24,America,New York Times,0,United States,0,0
3,0,Clarke,Alabama,2020-01-25,America,New York Times,0,United States,0,0
4,0,Clarke,Alabama,2020-01-26,America,New York Times,0,United States,0,0
...,...,...,...,...,...,...,...,...,...,...
2578747,0,NaN,Henan,2020-01-21,Asia,JHU CSSE Global Timeseries,0,China,0,0
2578748,0,NaN,NaN,2020-01-21,Africa,JHU CSSE Global Timeseries,0,Congo (Brazzaville),0,0
2578749,0,NaN,NaN,2020-01-21,America,JHU CSSE Global Timeseries,0,Peru,0,0
2578750,0,NaN,NaN,2020-01-21,America,JHU CSSE Global Timeseries,0,Chile,0,0
2578751,0,NaN,NaN,2020-01-21,Europe,JHU CSSE Global Timeseries,0,Spain,0,0

In [7]:
df.groupby("REPORT_DATE").count()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_SHORT_NAME,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
REPORT_DATE,,,,,,,,,,
2020-01-21,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2020-01-22,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2020-01-23,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2020-01-24,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2020-01-25,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
...,...,...,...,...,...,...,...,...,...,...
2022-01-11,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2022-01-12,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2022-01-13,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2022-01-14,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552
2022-01-15,3552,3276,3333,3543,3552,3552,3219,3552,3552,3552

In [8]:
df.groupby("COUNTRY_SHORT_NAME").count()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
COUNTRY_SHORT_NAME,,,,,,,,,,
Afghanistan,726,0,0,726,726,726,726,0,726,726
Albania,726,0,0,726,726,726,726,0,726,726
Algeria,726,0,0,726,726,726,726,0,726,726
Andorra,726,0,0,726,726,726,726,0,726,726
Angola,726,0,0,726,726,726,726,0,726,726
...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,726,0,0,726,0,726,726,0,726,726
West Bank and Gaza,726,0,0,726,726,726,726,0,726,726
Yemen,726,0,0,726,726,726,726,0,726,726
Zambia,726,0,0,726,726,726,726,0,726,726
Zimbabwe,726,0,0,726,726,726,726,0,726,726

In [11]:
df.to_csv('./Covid-19_column_dropped.csv')